{
    "extends": "stylelint-config-standard",
    "ignoreFiles": [
        "./src/assets/styles/_reboot.css",
        "./src/assets/styles/abstracts/**",
        "./src/assets/styles/bootstrap/**",
        "./src/assets/icons/**",
        "./src/assets/fonts/**",
        "./dist/**"
    ],
    "rules": {
        "indentation": 4,
        "string-quotes": "single",
        "no-duplicate-selectors": true,
        "color-hex-case": "lower",
        "selector-max-id": 1,
        "selector-combinator-space-after": "always",
        "selector-attribute-quotes": "always",
        "selector-attribute-operator-space-before": "never",
        "selector-attribute-operator-space-after": "never",
        "selector-attribute-brackets-space-inside": "never",
        "declaration-block-trailing-semicolon": "always",
        "declaration-colon-space-before": "never",
        "declaration-colon-space-after": "always",
        "property-no-vendor-prefix": [true, { ignoreProperties: ["box-shadow", "text-fill-color", "background-clip"] }],
        "value-no-vendor-prefix": null,
        "number-leading-zero": "always",
        "function-url-quotes": "always",
        "font-weight-notation": "numeric",
        "font-family-name-quotes": "always-unless-keyword",
        "comment-whitespace-inside": "always",
        "at-rule-no-vendor-prefix": true,
        "selector-pseudo-element-colon-notation": "single",
        "selector-pseudo-class-parentheses-space-inside": "never",
        "selector-no-vendor-prefix": null,
        "media-feature-range-operator-space-before": "always",
        "media-feature-range-operator-space-after": "always",
        "media-feature-parentheses-space-inside": "never",
        "media-feature-name-no-vendor-prefix": true,
        "media-feature-colon-space-before": "never",
        "media-feature-colon-space-after": "always",
        "rule-empty-line-before": null,
        "declaration-empty-line-before": null,
        "at-rule-no-unknown": null,
        "at-rule-empty-line-before": null,
        "declaration-colon-newline-after": null,
        "font-family-no-missing-generic-family-keyword": null,
        "block-no-empty": null,
        "selector-no-qualifying-type": null,
        "no-descending-specificity": null,
        "color-hex-length": null
    }
}