.text-block {
    display: flex;
    flex-direction: column;

    @include lg {
        max-width: 86%;
    }

    &.text-center {
        margin-right: auto;
        margin-left: auto;
    }

    &:not(:first-child) {
        margin-top: 20px;
    }

    /* Title
	*************************************/
    &__title {
        font-weight: 700;
        line-height: 1.35;
        margin-top: -7px;
        color: $font-dark-color;

        &:not(:only-child) {
            margin-bottom: 0.5rem;
        }
    }
    h1#{&}__title {
        font-size: 2rem;
    }
    h2#{&}__title {
        font-size: 1.75rem;
    }
    h3#{&}__title {
        font-size: 1.5rem;
    }
    h4#{&}__title {
        font-size: 1.25rem;
    }
    h5#{&}__title {
        font-size: 1rem;
    }
    h6#{&}__title {
        font-size: 0.875rem;
    }

    /* Text
	*************************************/
    &__text {
        margin: 0;

        &:not(:only-child):not(:first-child) {
            margin-top: 4px;
        }

        & a {
            position: relative;
            display: inline-block;
            font-weight: 600;
            color: rgba($font-dark-color, 0.85);

            // Hover effect
            &:before {
                content: '';
                position: absolute;
                right: 0;
                bottom: 1px;
                left: 0;
                height: 1px;
                background-color: #000;
                transform: scaleX(0);
                transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
                transform-origin: left top;
            }

            &:focus:before,
            &:hover:before {
                transform: scaleX(1);
            }
        }
    }

    /* List
	*************************************/
    &__list {
        margin: -4px 0;
        color: rgba($font-dark-color, 0.65);

        &:not(:only-child):not(:first-child) {
            margin-top: 20px;
        }
        .text-block__title + &:not(:only-child):not(:first-child) {
            margin-top: 0;
        }

        &__item {
            position: relative;
            line-height: 1.4;
            padding: 4px 0 4px 14px;
        }
    }
}
