.btn-bordered {
    display: inline-flex;
    align-items: center;
    padding: 0.625rem 0;
    font-weight: 700;
    border: none;
    border-top: 2px solid transparent;
    border-bottom: 2px solid $font-dark-color;
    color: $font-dark-color;
    background-color: transparent;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);

    svg {
        height: 12px;
        fill: $font-dark-color;
        margin-left: 0.625rem;
        transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    }

    &:hover {
        border-top: 2px solid $primary-accent;
        border-bottom: 2px solid transparent;
        color: $primary-accent;

        svg {
            fill: $primary-accent;
        }
    }
}

.btn {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    font-size: 0.875rem;
    border-radius: calc(#{$box-corner} * 0.6);
    padding: 0.875rem 1.5rem;
    line-height: 1.1;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.01rem;
    border: none;
    transition: background 0.25s ease-in-out, color 0.15s ease-in-out, opacity 0.15s ease-in-out;

    &:not([disabled]):hover {
        cursor: pointer;
    }

    &[disabled] {
        opacity: 0.5;

        &:hover {
            cursor: not-allowed;
        }
    }

    &__text {
        min-width: 3rem;
    }

    /* Colors
    *************************************/
    &--primary {
        background-color: $primary-accent;
        color: #fff;

        &:not([disabled]):active,
        &:not([disabled]):hover {
            color: #fff;
            background-color: darken($primary-accent, 7%);
        }
        &:not([disabled]):active {
            box-shadow: 0 0 0 3px rgba($primary-accent, 0.15);
        }

        &.button--inverse {
            background-color: rgba($primary-accent, 0.08);
            color: $primary-accent;
        }
        &.button--inverse:not([disabled]):active,
        &.button--inverse:not([disabled]):hover {
            color: $primary-accent;
            background-color: rgba($primary-accent, 0.15);
        }
        &.button--inverse:not([disabled]):active {
            box-shadow: 0 0 0 3px rgba($primary-accent, 0.075);
        }
    }
    &--none {
        background-color: transparent;
        color: $font-light-color;
        padding-right: 14px;
        padding-left: 14px;
        transition: background 0.1s ease-in-out, color 0.15s ease-in-out, opacity 0.15s ease-in-out;

        &:not([disabled]):active,
        &:not([disabled]):hover {
            color: $primary-accent;
        }
        &:not([disabled]):active {
            background-color: lighten(rgba($font-dark-color, 0.05), 13%);
        }
    }

    &--danger {
        color: #fff;
        background-color: $danger-color;

        &:not([disabled]):active,
        &:not([disabled]):hover {
            color: #fff;
            background-color: darken($danger-color, 10%);
        }
        &:not([disabled]):active {
            box-shadow: 0 0 0 3px rgba-to-rgb(rgba($danger-color, 0.3));
        }

        &.button--inverse {
            color: $danger-color;
            background-color: rgba-to-rgb(rgba($danger-color, 0.1));
        }
        &.button--inverse:not([disabled]):active,
        &.button--inverse:not([disabled]):hover {
            color: $danger-color;
            background-color: rgba-to-rgb(rgba($danger-color, 0.15));
        }
        &.button--inverse:not([disabled]):active {
            box-shadow: 0 0 0 3px rgba-to-rgb(rgba($danger-color, 0.075));
        }
    }
    &--success {
        color: #fff;
        background-color: $success-color;

        &:not([disabled]):active,
        &:not([disabled]):hover {
            color: #fff;
            background-color: darken($success-color, 10%);
        }
        &:not([disabled]):active {
            box-shadow: 0 0 0 3px rgba-to-rgb(rgba($success-color, 0.3));
        }

        &.button--inverse {
            color: $success-color;
            background-color: rgba-to-rgb(rgba($success-color, 0.1));
        }
        &.button--inverse:not([disabled]):active,
        &.button--inverse:not([disabled]):hover {
            color: $success-color;
            background-color: rgba-to-rgb(rgba($success-color, 0.15));
        }
        &.button--inverse:not([disabled]):active {
            box-shadow: 0 0 0 3px rgba-to-rgb(rgba($success-color, 0.2));
        }
    }
    &--grey {
        color: rgba($font-dark-color, 0.5);
        background-color: rgba($font-dark-color, 0.05);

        &:not([disabled]):active,
        &:not([disabled]):hover {
            background-color: rgba(darken($font-dark-color, 10%), 0.1);
        }
        &:not([disabled]):active {
            box-shadow: 0 0 0 3px rgba-to-rgb(rgba($font-dark-color, 0.05));
        }
    }

    /* Width
    *************************************/
    &--fullwidth {
        width: 100%;
    }

    /* Loading animation
    *************************************/
    &__spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.5);
        margin: 0 -50% 0 0;
        transition: opacity 0.15s ease-in-out;
        opacity: 0;
    }
    .form.loading &__spinner {
        opacity: 1;
    }
    .form.loading & {
        color: white !important;
        background-color: darken(rgba($font-dark-color, 0.15), 5%) !important;

        &:not([disabled]):hover {
            cursor: not-allowed !important;
            background-color: darken(rgba($font-dark-color, 0.15), 5%) !important;
        }
    }

    /* Icons
    *************************************/
    &--has-icon {
        display: flex;
        align-items: center;
    }
    &__icon {
        line-height: 0;
        margin-right: 0.75rem;
        height: 0.875rem;
        fill: white;
    }

    &--just-icon {
        font-size: 1rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 34px;
        height: 34px;
        padding: 0;
    }
    &--just-icon &__icon {
        margin-right: 0;
        margin-left: 0;
    }
}
