/* Simple checkbox
*************************************/
.checkbox {
    position: relative;
    padding-left: 1.625rem;

    &__field {
        position: absolute;
        opacity: 0;
        visibility: hidden;
    }

    &__label {
        line-height: 1.3;
        font-size: 0.875rem;
        color: $font-dark-color;
        letter-spacing: 0.02rem;
        margin-bottom: 0;

        &:before {
            content: '';
            border-radius: 50%;
            @include absolute(top 50% left);
            transform: translateY(-50%);
            width: 1.125rem;
            height: 1.125rem;
            border: 1px solid darken($border-color, 4%);
            background-color: #fff;
            transition: border 0.15s ease-in-out;
        }
    }
    html.no-touch &__field:not(:checked):hover + &__label:before {
        border-color: rgba(darken($primary-accent, 8%), 0.5);
    }
    &__field:checked + &__label {
        border-color: $primary-accent;
    }
    &__field:checked + &__label:before {
        border: 5px solid $primary-accent;
    }
}
