<main class="main">
    <section class="banner mb-section">
        <div data-parallax="scale" data-parallax-ratio=".5">
            <figure class="lazy-loading banner__img-wrapper">
                <img
                    width="1920"
                    height="1280"
                    src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                    class="banner__img"
                    alt="Page Title"
                    data-src="https://images.unsplash.com/photo-1519046904884-53103b34b206?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80"
                />
                <span class="lazy-loading__loader"></span>
                <noscript>
                    <img
                        src="https://images.unsplash.com/photo-1519046904884-53103b34b206?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80"
                        alt="Page Title"
                    />
                </noscript>
            </figure>
        </div>
        <h1 class="banner__title">Page Title</h1>
    </section>

    <section class="news mb-section">
        <div class="news__list row">
            <article class="news__item col-lg-3 col-sm-6 col-12">
                <a href="#" title="Blog item 1" class="news__item__link">
                    <div class="blog-item__img-wrapper">
                        <figure class="lazy-loading news__item__img-wrapper" style="padding-bottom: 70.66%">
                            <img
                                width="450"
                                height="318"
                                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                class="news__item__img"
                                alt="Blog item 1"
                                data-src="https://images.unsplash.com/photo-1615393904572-b3469d50cac3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=450&q=80"
                            />
                            <span class="lazy-loading__loader"></span>
                            <noscript>
                                <img
                                    src="https://images.unsplash.com/photo-1615393904572-b3469d50cac3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=450&q=80"
                                    alt="Blog item 1"
                                />
                            </noscript>
                        </figure>
                    </div>
                    <h4 class="news__item__title">Blog item 1</h4>
                    <p class="news__item__desc">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque finibus condimentum sapien
                        at dignissim. Fusce vitae nunc venenatis turpis rhoncus porta.
                    </p>
                    <time datetime="2021-07-01" class="news__item__date">July 1, 2021</time></a
                >
            </article>
            <article class="news__item col-lg-3 col-sm-6 col-12">
                <a href="#" title="Blog item 2" class="news__item__link">
                    <div class="blog-item__img-wrapper">
                        <figure class="lazy-loading news__item__img-wrapper" style="padding-bottom: 66.66%">
                            <img
                                width="450"
                                height="300"
                                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                class="news__item__img"
                                alt="Blog item 2"
                                data-src="https://images.unsplash.com/photo-1617083935866-9eeba5edc0f9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=450&q=80"
                            />
                            <span class="lazy-loading__loader"></span>
                            <noscript>
                                <img
                                    src="https://images.unsplash.com/photo-1617083935866-9eeba5edc0f9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=450&q=80"
                                    alt="Blog item 2"
                                />
                            </noscript>
                        </figure>
                    </div>
                    <h4 class="news__item__title">Blog item 2</h4>
                    <p class="news__item__desc">
                        Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        Pellentesque eu ex tristique, tincidunt purus ac, sodales velit.
                    </p>
                    <time datetime="2021-07-01" class="news__item__date">July 1, 2021</time></a
                >
            </article>
            <article class="news__item col-lg-3 col-sm-6 col-12">
                <a href="#" title="Blog item 3" class="news__item__link">
                    <div class="blog-item__img-wrapper">
                        <figure class="lazy-loading news__item__img-wrapper" style="padding-bottom: 66.66%">
                            <img
                                width="450"
                                height="300"
                                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                class="news__item__img"
                                alt="Blog item 3"
                                data-src="https://images.unsplash.com/photo-1609932937042-56e6bdd7a41b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=450&q=80"
                            />
                            <span class="lazy-loading__loader"></span>
                            <noscript>
                                <img
                                    src="https://images.unsplash.com/photo-1609932937042-56e6bdd7a41b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=450&q=80"
                                    alt="Blog item 3"
                                />
                            </noscript>
                        </figure>
                    </div>
                    <h4 class="news__item__title">Blog item 3</h4>
                    <p class="news__item__desc">
                        Curabitur posuere ultrices ipsum eu rutrum. Integer leo arcu, ultrices ac tortor ac, accumsan
                        maximus urna. Nam et nisl sit amet erat elementum efficitur ut non mauris.
                    </p>
                    <time datetime="2021-06-23" class="news__item__date">June 23, 2021</time></a
                >
            </article>
            <article class="news__item col-lg-3 col-sm-6 col-12">
                <a href="#" title="Blog item 4" class="news__item__link">
                    <div class="blog-item__img-wrapper">
                        <figure class="lazy-loading news__item__img-wrapper" style="padding-bottom: 66.66%">
                            <img
                                width="450"
                                height="300"
                                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                class="news__item__img"
                                alt="Blog item 4"
                                data-src="https://images.unsplash.com/photo-1504909177259-7a4a3d7e969e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=450&q=80"
                            />
                            <span class="lazy-loading__loader"></span>
                            <noscript>
                                <img
                                    src="https://images.unsplash.com/photo-1504909177259-7a4a3d7e969e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=450&q=80"
                                    alt="Blog item 4"
                                />
                            </noscript>
                        </figure>
                    </div>
                    <h4 class="news__item__title">Blog item 4</h4>
                    <p class="news__item__desc">
                        Morbi fringilla velit a arcu luctus congue. Sed enim tellus, lobortis quis enim id, congue
                        tincidunt ligula. Mauris ac aliquet mauris, nec gravida enim.
                    </p>
                    <time datetime="2021-06-23" class="news__item__date">June 23, 2021</time></a
                >
            </article>
        </div>
        <a href="#" class="btn-bordered" title="View all our news">
            View All News
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="14" viewBox="0 0 20 14">
                <path d="M15,5,13.59,6.41,18.17,11H2v2H18.17l-4.59,4.59L15,19l7-7Z" transform="translate(-2 -5)" />
            </svg>
        </a>
    </section>

    <section class="mb-section">
        <div class="text-block">
            <h2 class="text-block__title">Lorem ipsum dolor sit amet</h2>
            <p class="text-block__text">Mauris in malesuada metus. Integer varius condimentum luctus. Maecenas tristique ultrices tortor, in rhoncus lacus vehicula ut. Maecenas eget ornare nisi. Donec condimentum est vel odio ullamcorper ultrices. Praesent pulvinar nibh nec ex sodales porttitor. Mauris dapibus, nulla vitae faucibus sodales, mi justo finibus turpis, nec consequat risus leo nec ante. Aenean quis nibh sit amet purus interdum sagittis. Praesent convallis, mi a pellentesque volutpat, lorem magna facilisis ipsum, a rutrum justo nulla vitae velit. Sed enim erat, luctus quis lectus ac, imperdiet gravida dolor. Sed eu eros nisl. Sed ut pharetra turpis. Suspendisse sit amet sodales odio.</p>
        </div>
    </section>

    <section class="mb-section">
        <div class="form-wrapper">
            <form action="#" id="0" class="form form--limited-width row" method="POST">
                <div class="col-12">
                    <div class="form__title">Send us a message</div>
                </div>

                <div class="col-12">
                    <div class="form__checkboxes">
                        <span class="form__checkboxes__title">Checkboxes</span>
                        <div class="checkbox">
                            <input
                                type="checkbox"
                                class="checkbox__field"
                                id="checkbox-1"
                                name="checkboxes[]"
                                value="checkbox-1"
                            />
                            <label class="checkbox__label" for="checkbox-1">Checkbox 1</label>
                        </div>
                        <div class="checkbox">
                            <input
                                type="checkbox"
                                class="checkbox__field"
                                id="checkbox-2"
                                name="checkboxes[]"
                                value="checkbox-2"
                            />
                            <label class="checkbox__label" for="checkbox-2">Checkbox 2</label>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="switch">
                        <label class="switch__label" htmlFor="switch-field">
                            <h4 class="form__label">Switch</h4>
                            <input type="checkbox" id="switch-field" name="switch-field" class="switch__input" />
                            <span><strong></strong></span>
                        </label>
                    </div>
                </div>

                <div class="col-12">
                    <div class="input input--simple">
                        <label class="form__label" for="text-field-1">Text field 1</label>
                        <input type="text" class="input__field" id="text-field-1" name="text-field-1" />
                    </div>

                    <div class="form__info">
                        <div class="form__info__content">
                            <p class="form__info__helper-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-12">
                    <div class="input input--simple">
                        <label class="form__label" for="text-field-2">Text field 2</label>
                        <input type="text" class="input__field" id="text-field-2" name="text-field-2" />
                    </div>
                </div>

                <div class="col-md-6 col-12">
                    <div class="input input--simple">
                        <label class="form__label" for="text-field-3">Text field 3</label>
                        <input type="text" class="input__field" id="text-field-3" name="text-field-3" />
                    </div>
                </div>

                <div class="col-12">
                    <div class="select">
                        <label class="form__label" for="select-field">Select field</label>
                        <div class="select__inner">
                            <select name="select-field" id="select-field" class="select__field">
                                <option value="0">Select an option...</option>
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                            </select>
                        </div>
                    </div>

                    <div class="form__info">
                        <div class="form__info__content">
                            <p class="form__info__invalid-text">Validation message</p>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="input input--simple">
                        <label class="form__label" for="date-field">Date field</label
                        ><input
                            type="date"
                            class="input__field"
                            id="date-field"
                            name="date-field"
                            min="1960-01-01"
                            max="2005-07-12"
                        />
                    </div>
                </div>

                <div class="col-12">
                    <div class="file">
                        <label class="form__label" for="file-field">File</label>
                        <div class="file__content">
                            <div class="file__select">Select a file</div>
                            <div class="file__name"><span>No file is selected...</span></div>
                            <input
                                type="file"
                                class="file__field"
                                id="file-field"
                                name="file-field"
                                accept="image/*, video/*"
                            />
                        </div>
                    </div>
                    <div class="form__info">Image/Video – maximum 20 MB.</div>
                </div>

                <div class="col-12">
                    <!-- success  -->
                    <div class="alert alert--modern alert alert--success">
                        <div class="alert__icon">
                            <svg
                                class="alert__svg"
                                focusable="false"
                                viewBox="0 0 24 24"
                                aria-hidden="true"
                                role="presentation"
                            >
                                <path
                                    d="M20,12A8,8 0 0,1 12,20A8,8 0 0,1 4,12A8,8 0 0,1 12,4C12.76,4 13.5,4.11 14.2, 4.31L15.77,2.74C14.61,2.26 13.34,2 12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0, 0 22,12M7.91,10.08L6.5,11.5L11,16L21,6L19.59,4.58L11,13.17L7.91,10.08Z"
                                ></path>
                            </svg>
                        </div>
                        <div class="alert__message">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum mattis magna vitae elit
                            ornare porta.
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <!-- info -->
                    <div class="alert alert--modern alert alert--info">
                        <div class="alert__icon">
                            <svg
                                class="alert__svg"
                                focusable="false"
                                viewBox="0 0 24 24"
                                aria-hidden="true"
                                role="presentation"
                            >
                                <path
                                    d="M11,9H13V7H11M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20, 12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10, 10 0 0,0 12,2M11,17H13V11H11V17Z"
                                ></path>
                            </svg>
                        </div>
                        <div class="alert__message">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum mattis magna vitae elit
                            ornare porta.
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <!-- warning -->
                    <div class="alert alert--modern alert alert--warning">
                        <div class="alert__icon">
                            <svg
                                class="alert__svg"
                                focusable="false"
                                viewBox="0 0 24 24"
                                aria-hidden="true"
                                role="presentation"
                            >
                                <path
                                    d="M12 5.99L19.53 19H4.47L12 5.99M12 2L1 21h22L12 2zm1 14h-2v2h2v-2zm0-6h-2v4h2v-4z"
                                ></path>
                                ;
                            </svg>
                        </div>
                        <div class="alert__message">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum mattis magna vitae elit
                            ornare porta.
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <!-- danger -->
                    <div class="alert alert--modern alert alert--danger">
                        <div class="alert__icon">
                            <svg
                                class="alert__svg"
                                focusable="false"
                                viewBox="0 0 24 24"
                                aria-hidden="true"
                                role="presentation"
                            >
                                <path
                                    d="M11 15h2v2h-2zm0-8h2v6h-2zm.99-5C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"
                                ></path>
                            </svg>
                        </div>
                        <div class="alert__message">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum mattis magna vitae elit
                            ornare porta.
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="form__submit">
                        <button class="btn btn--primary btn--has-icon" type="submit">
                            <div class="loader-abs">
                                <div class="loader btn__spinner">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    Loading...
                                </div>
                            </div>
                            <svg class="btn__icon" viewBox="0 0 20 14">
                                <path
                                    d="M15,5,13.59,6.41,18.17,11H2v2H18.17l-4.59,4.59L15,19l7-7Z"
                                    transform="translate(-2 -5)"
                                />
                            </svg>
                            <span class="btn__text">Save</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</main>
