/* Loader
*************************************/
@keyframes lazyLoader {
    0%,
    100% {
        transform: translateX(-50%);
    }
    50% {
        transform: translateX(100%);
    }
}

/* Lazy loading
*************************************/
.lazy-loading {
    position: relative;
    background-color: darken($main-bg-color, 6%);

    &__loader {
        position: absolute;
        display: block;
        height: 2px;
        width: 50px;
        max-width: 100%;
        left: 0;
        bottom: 0;
        right: 0;
        top: 0;
        opacity: 0;
        visibility: hidden;
        margin: auto;
        pointer-events: none;
        background-color: rgba($dark-bg-color, 0.25);
        z-index: -1;
        transition: all 0.2s ease-in-out;
        overflow: hidden;

        &:after {
            position: absolute;
            content: '';
            bottom: 0;
            right: 0;
            top: 0;
            height: 100%;
            width: 200%;
            background-color: $dark-bg-color;
        }

        .lazy-loading:not(.lazy-loaded) & {
            opacity: 1;
            visibility: visible;
            z-index: 1;
        }

        .lazy-loading &:after {
            animation: lazyLoader 3s infinite;
            animation-timing-function: cubic-bezier(0.43, 0.43, 0.25, 0.99);
        }
    }

    & > img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        min-height: 100%;
        min-width: 100%;
        opacity: 0;
        object-fit: cover;
        object-position: center center;
        transition: opacity 0.85s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
    &.lazy-loaded > img {
        opacity: 1;
    }

    .no-js & > noscript img {
        position: absolute;
        top: 0;
        left: 0;
        height: auto;
        width: 100%;
    }
}
